[Install]
WantedBy=multi-user.target

[Service]
WorkingDirectory=/mnt/reserved/kurasushi_handwash
ExecStart=python3 disk_monitor.py
Restart=always
RestartSec=1
